.body{
    font-family: 'Trebuchet MS';
    padding: 20px;
}
.nav1, .nav2, .nav3, .nav4 {
    padding: 10px;
}
.mast {
    background: linear-gradient(
        #1845ad,
        #23a2f6
    ) ;
    color: white;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 40px;
}
nav a {
    float: right;
    padding: 15px;
    padding-top: 1px;
    padding-right: 10px;
}
.chhan {
    padding: 10px;
    font-weight: bold;
}
.saras {
    padding-left: 12px;
    padding-top: 8px;
    width: 102%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.search {
    border-radius: 30px;
    width: 70%;
    padding: 8px;
    padding-left: 20px;
    margin: 5px;
}
.icon {
    position: absolute;
    border-radius: 50%;
    height: 20%;
    width: 30%;
    top: 10%;
    left: 36%;
}
.name{
    position: absolute;
    top:35%;
    right: 70%;
}
.email {
    position: absolute;
    top: 40%;
    right: 68%;
}
.number {
    position: absolute;
    top: 45%;
    right: 49%;
}
.profile {
    position: relative;
    float: right;
    right: 4%;
    height: 565px;
    width: 20%;
    padding: 2px;
    color:black;
    margin-right: 1px;
    text-align: center;
    border: 1px solid black;
    margin-top: 25px;
    padding-left: 2px;
    background-color: rgba(214, 214, 214, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
}
.sec1, .sec2, .sec3, .sec4 {
    border: 1px black;
    width: 68%;
    height: auto;
    color: black;
    margin: 10px;
    border-radius: 2%;
    margin-top: 40px;
    margin-left: 18px;
    padding: 20px;
        /* From https://css.glass */
    background-color: rgba(214, 214, 214, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
}